version: '3.9'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-laravel
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: saludplus
      MYSQL_USER: laraveluser
      MYSQL_PASSWORD: laravelpass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  laravel:
    build:
      context: ./laravel
      dockerfile: Dockerfile
    container_name: laravel-app
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - mysql
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
      APP_KEY: base64:XxYyZz123TuClaveLaravelGenerada
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: llanteria

  react:
    build:
      context: ./react
      dockerfile: Dockerfile
    container_name: react-app
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - laravel

volumes:
  mysql_data:

